---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro';

let articles = await getCollection('articles')

const tags: string[] = []
articles.map(article => {
	article.data.tags.map(tag => {
    if (!tags.includes(tag)) tags.push(tag)
  })
})

articles = articles
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
---

<Layout title="Homepage">
	<main>
		<p class="my-4">Latest articles:</p>
		<ul class="list-inside list-disc">
			{
				articles.map((article) => (
					<li>
						<a class="underline" href={`/articles/${article.slug}`}>{article.data.title}</a>
						<span>({article.data.date.toLocaleDateString()})</span>
					</li>
				))
			}
		</ul>
		<p class='my-4'>Explore by tag:</p>
		<div class='my-4 space-x-2'>
			{
			tags.map(tag => (
				<a
					href={`/tag/${tag}`}
					class='border border-white py-1 px-2 rounded-lg'>
					{tag}
				</a>
			))
			}
		</div>
		
	</main>
</Layout>