---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro';
import { Code } from 'astro:components';
import ArticlePreview from '@/src/components/ArticlePreview.astro';

let articles = await getCollection('articles')

const tags: string[] = []
articles.map(article => {
	article.data.tags.map(tag => {
    if (!tags.includes(tag)) tags.push(tag)
  })
})

articles = articles
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
---

<Layout title="Articles">
	<div class="">
		<div class=" flex flex-col  gap-y-20">
			{
				articles.map((article) => (
					<ArticlePreview 
						abstract={article.data.abstract}
						title={article.data.title}
						slug={article.slug}
						subtitle={article.data.subtitle}
						date={article.data.date}
						tags={article.data.tags}
					/>
				))
			}
		</ul>
	</div>
	<!-- <div>	
		<Code code={`const foo = 'bar';`} lang="js" />
		<ReactCounter client:idle />
	</div> -->
</Layout>