---
import Layout from '@layouts/Layout.astro';
import Print from '../components/Print.astro';

const pageTitle = 'CV';

const companies = [
  {
    name: 'Moltiply Group',
    role: 'Senior Frontend Engineer',
    description:
      'Financial services company capturing the opportunities stemming from the evolution of the underdeveloped Italian retail credit market, leveraging on technology, operational excellence, independency and superior execution.',
    linkedin: 'https://www.linkedin.com/company/moltiplygroup/mycompany/',
    startDate: '01/09/2024',
    endDate: '',
  },
  {
    name: 'Edreams Odigeo',
    role: 'Senior Frontend Engineer',
    description:
      'Online travel agency company based in Barcelona and operating in 44 markets. One of the largest e-commerce businesses in Europe that serve over 21 million customers per year, connecting them with nearly 700 airlines.',
    linkedin:
      'https://www.linkedin.com/company/edreamsodigeo/posts/?feedView=all',
    startDate: '01/05/2023',
    endDate: '30/08/2024',
  },
  {
    name: 'Faire labs',
    role: 'Senior Frontend Engineer',
    description:
      "Fintech specialized in credit automation for retail customers. Building the next generation API based platform that enables banks and financial institutions to offer instant lending solutions. Our aim is simplifying people's life by making lending easy, fast and accessible, leveraging open banking and artificial intelligence.",
    linkedin: 'https://www.linkedin.com/company/faireai/posts/?feedView=all',
    startDate: '01/05/2022',
    endDate: '01/05/2023',
  },
  {
    name: 'Flowing',
    role: 'Frontend Engineer',
    description:
      'Consultancy company that helps other companies realized their projects thorugh cross-platform teams.',
    linkedin: 'https://www.linkedin.com/company/flowingis/',
    startDate: '01/09/2021',
    endDate: '01/05/2022',
  },
  {
    name: 'WWG',
    role: 'Frontend Engineer',
    description:
      'Italian company with 20 years of experience and solid expertise in digital innovation technology. WWG helps businesses elevate their value through custom software development, product design, QA and consultancy services. Every single team involved in the business processes uses the principles of Lean thinking and Agile methodology to set a high standard for every project.',
    linkedin: 'https://www.linkedin.com/company/wwg-srl/posts/?feedView=all',
    startDate: '01/03/2021',
    endDate: '01/07/2021',
  },
  {
    name: 'kwantis',
    role: 'Frontend Engineer',
    description:
      'Trusted service company providing a complete range of consulting and digital services for major corporations from energy, construction, and manufacturing industries worldwide. Together with these services kwantis is continuously developing and distributing its proprietary solutions: id3 - Integrated Drilling Data Discovery and Riskturn.',
    linkedin: 'https://www.linkedin.com/company/kwantis/posts/?feedView=all',
    startDate: '01/03/2020',
    endDate: '01/03/2021',
  },
  {
    name: 'Techrain',
    role: 'Frontend Engineer',
    description:
      'Team of professionals that combine years of managerial experiences with the enthusiasm and passion in approaching new challenges that our young talented consultants have. Together we can achieve results required to compete in a dynamic global market.',
    linkedin: 'https://www.linkedin.com/company/tech-rain/',
    startDate: '01/12/2017',
    endDate: '01/03/2020',
  },
];

const expertiseStack = [
  {
    name: 'React',
    image: '/react.png',
  },
  {
    name: 'Javascript',
    image: '/js.png',
  },
  {
    name: 'Typescript',
    image: '/typescript.png',
  },
  {
    name: 'HTML',
    image: '/html.png',
  },
  {
    name: 'CSS',
    image: '/css.png',
  },
  {
    name: 'Git',
    image: '/git.png',
  },
];

const educationPath = [
  {
    name: 'Università degli studi di Milano-Bicocca',
    description:
      'Computer science path. Bicocca is a young university that will connect you with students from all over the world. Since its foundation, the University of Milano-Bicocca has reached beyond its borders entering into various agreements with European and non-European universities. Teachers are members of international research groups that share numerous projects and initiatives.',
  },
  {
    name: 'Myes school',
    description:
      "My English School è una rete di scuole di inglese senza senza libri né aule tradizionali, caratterizzata da un approccio totalmente nuovo. L’idea è quella di mettere al centro del progetto didattico lo studente, creare i presupposti per un reale apprendimento della lingua e rendere l'esperienza formativa appagante, unica e piacevole.",
  },
  {
    name: 'Wall street english',
    description:
      "Scuola di Inglese con metodo flessibile e tecnologia all'avanguardia per un'esperienza di apprendimento unica sia nelle nostre scuole di inglese che online con il pieno supporto dei nostri Tutor madrelingua e Study Advisor.",
  },
  {
    name: 'ITIS Marie Curie',
    description: 'High school - Computer science.',
  },
];

const externalActivities = [
  {
    name: 'React Milano meetup',
    description: 'I organize monthly meetups for the React community in Milan.',
    website: 'https://www.meetup.com/React-JS-Milano',
  },
  {
    name: 'Toastmasters International',
    description:
      'I attend a public speaking club to improve my communication skills.',
    website: 'https://www.toastmasters.org/',
  },
];
---

<Layout title={pageTitle}>
  <div>
    <Print title='Print' id='print-button' />
    <!-- <section>
      <h2 class='text-3xl text-yellow-light'>Technical Expertise</h2>
      <ul
        class='flex gap-12 justify-center items-center m-4 p-4 border border-gray-light'
      >
        {
          expertiseStack.map((item) => (
            <li>
              <Image
                title={item.name}
                alt={item.name}
                width={'78'}
                src={`../assets${item.image}`}
              />
            </li>
          ))
        }
      </ul>
    </section> -->
    <section>
      <h2 class='text-3xl text-yellow-light'>Experiences</h2>
      <ul>
        {
          companies.map((company) => (
            <li class=' p-4'>
              <div class=' flex gap-6 items-baseline'>
                <a
                  href={company.linkedin}
                  class=' text-2xl text-pink-light hover:underline'
                  target='_blank'
                >
                  {company.name}
                </a>
                <span class=' text-base text-gray-light'>
                  <i>
                    {company.startDate} - {company.endDate}
                  </i>
                </span>
              </div>
              <h4 class=' text-xl text-orange-light'>{company.role}</h4>
              <p class=''>{company.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='text-3xl text-yellow-light'>Education</h2>
      <ul>
        {
          educationPath.map((item) => (
            <li class=' p-4'>
              <h3 class=' text-2xl text-pink-light'>{item.name}</h3>
              <p class=''>{item.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h2 class='text-3xl text-yellow-light'>External Activities</h2>
      <ul>
        {
          externalActivities.map((item) => (
            <li class=' p-4'>
              <a
                href={item.website}
                class=' text-2xl text-pink-light hover:underline'
                target='_blank'
              >
                {item.name}
              </a>
              <p class=''>{item.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
