---
import Layout from '@layouts/Layout.astro';

const pageTitle = "CV";

const companies = [
  {
    name: 'Edreams Odigeo',
    role: 'Senior Frontend Engineer',
    description: 'description',
    startDate: '08/05/2023',
    endDate: '30/08/2024'
  },
  {
    name: 'Faire labs',
    role: 'Senior Frontend Engineer',
    description: 'description',
    startDate: '01/05/2023',
    endDate: '01/05/2024'
  },
]

const expertiseStack = [
  "React",
  "Javascript",
  "Typescript",
  "Testing",
  "HTML",
  "CSS",
  "Git",
]

const educationPath = [
  "Università degli studi di Milano-Bicocca",
  "Myes school",
  "Wall street english",
  "Marie Curie"
]

---
<Layout title="CV">
  <div>
      <h1>My CV</h1>
      <div>
        <h2 class="text-2xl text-yellow-light">Technical Expertise</h2>
        <ul>
          {
            expertiseStack.map((item) => (
              <li>{item}</li>
            ))
          }
        </ul>
      </div>
      <div>
        <h2 class="text-2xl text-yellow-light">Experiences</h2>
        {
          companies.map( (company) => (
            <div>
              <span>{company.startDate}</span>
              <h3>{company.name}</h3>
              <h4>{company.role}</h4>
              <p>{company.description}</p>
            </div>
          ))
        }
      </div>
      <div>
        <h2 class="text-2xl text-yellow-light">Education</h2>
        <ul>
        {
          educationPath.map((item) => (
              <li>{item}</li>
          ))
        }
        </ul>
      </div>
  </div>
</Layout>