---
import Tag from './Tag.astro';
interface Props {
  abstract: string;
  date: Date;
  slug: string;
  subtitle?: string;
  tags: string[];
  title: string;
}

const { abstract, date, slug, subtitle, tags, title } = Astro.props;
---

<div class='flex flex-col m-auto'>
  <div class='flex items-end justify-between gap-2'>
    <div class='flex flex-col items-baseline'>
      <p>{tags.map((tag) => <Tag tag={tag} />)}</p>
      <a href={`/articles/${slug}`}>
        <h3
          class='text-3xl text-yellow-light hover:brightness-75 transition duration-200 ease-out-in'
        >
          {title}
        </h3>
      </a>
    </div>

    <p class='text-gray italic text-md'>{date.toLocaleDateString()}</p>
  </div>
  <h4 class='text-gray-light'>{subtitle}</h4>
  <p>{abstract}</p>
</div>
