---
import { Image } from 'astro:assets';
import GithubImg from '../assets/github.svg';

const { title, link, image, description, githubLink } = Astro.props;
---

<div
  class='max-w-sm border border-gray-light rounded overflow-hidden shadow-lg'
>
  <Image class='object-cover h-48 w-96' src={image} alt={title} />
  <div class='p-4 h-48 flex justify-between flex-col'>
    <a
      href={link}
      target='_blank'
      class='font-bold text-xl mb-2 text-pink hover:underline transition duration-200'
      >{title}</a
    >
    <p class='text-gray-700 text-base'>
      {description}
    </p>
    {
      githubLink && (
        <a
          class='flex gap-1 text-sm text-blue-light hover:underline transition duration-200'
          href={githubLink}
          target='_blank'
        >
          <Image src={GithubImg} width={20} alt={'github image'} />
          See the code
        </a>
      )
    }
  </div>
</div>
