---
const { title, link, image, description } = Astro.props;
---
<a href={link} target="_blank">
    <div class="
    border-2 border-white rounded h-full
    hover:cursor-pointer p-4 hover:border-pink-light"
    >
        <img class="" src={image} alt={title} class="w-1/2" />
        <h1 class="text-pink text-2xl">{title}</h1>
        <p>{description}</p>
    </div>
</a>
