---
import { Image } from 'astro:assets';

const { platform, username, image } = Astro.props;
---

<a
  class='mr-6 hover:opacity-70 transition duration-200 ease-out-in'
  href={`https://www.${platform}.com/${platform === 'linkedin' ? `in/${username}` : username}`}
  target='_blank'
>
  <Image src={image} alt={`${platform} icon`} title={`${platform}`} />
</a>
